click
Cython
torch
torchvision
Pillow
timm
imagehash
numpy
python-dotenv
transformers
pygame
pytorch-lightning
pydantic
torcheval
tensorboard
pyaudio
sqlitedict
PyOpenGL
matplotlib
pandas
seaborn
gymnasium
pyinstrument
